* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --font: rgb(49, 47, 47);
}
body {
  margin: 0pc;
  font-weight: bold;
  font-size: 30px;
  color: var(--font);
}
.white-font {
  color: white;
}
.header {
  text-align: center;
  margin: auto;
  padding: 30px 0px;
  border-bottom: 2px solid black;
}
.word-grid {
  width: fit-content;
  margin: auto;
}
.row {
  width: fit-content;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
}
.input {
  margin-left: 14px;
  height: 48px;
  width: 48px;
  border: 3px solid rgb(207, 206, 206);
  text-align: center;
  padding-top: 4px;
}
.input:first-child {
  margin-left: 0px;
}
.match-letter {
  background-color: #006400;
}
.mismatch-letter {
  background-color: #888888;
}
.includes-letter {
  background-color: #daa521;
}
.not-valid-word {
  animation: not-valid 1s linear;
}
@keyframes not-valid {
  0% {
    border: 3px solid rgb(245, 49, 31);
  }
  100% {
    border: 3px solid rgb(207, 206, 206);
  }
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid darkslategrey;
  border-right: 8px solid darkslategrey;
  border-bottom: 8px solid darkslategrey;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 12px auto;
  animation: spin 1.5s linear infinite;
  visibility: hidden;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.display {
  visibility: visible;
}
.rainbow {
  animation: rainbow 2.5s linear infinite;
}
@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
