* {
  box-sizing: border-box;
}
:root {
  --text: #9b6428;
  --background: #efefef;
  --header: #482619;
  --section: #f0dfd2;
  --dark-text: rgb(69, 62, 58);
  --border: #dfc2a2;
  --shadow: rgb(218, 209, 205);
  --button: #e4b68c;
}
.body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
/*header*/
.title {
  position: relative;
  font-size: smaller;
}
.header {
  background-color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fbf0b8;
}
.logo {
  max-height: 30px;
  margin: 5px;
  position: relative;
  top: -1px;
}
/*items and inputs*/
.section {
  background-color: var(--section);
  margin: 10px;
  margin-bottom: 24px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px var(--shadow), -4px 0px 4px var(--shadow);
  height: fit-content;
}
.column {
  width: 48%;
}
.section-flex {
  display: flex;
  justify-content: space-around;
}
.item {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1.5px solid var(--border);
}
.item:last-child {
  border: none;
}
.order-flex {
  display: flex;
  flex-direction: column;
}
.price {
  position: absolute;
  left: 42%;
  color: var(--dark-text);
  font-weight: bold;
}
.section-title,
.toppings,
.input-label {
  color: var(--text);
}
.section-title {
  margin-left: 10px;
}
.amount {
  margin-right: 10px;
}
.toppings {
  font-size: smaller;
  margin-top: 5px;
}
.amount {
  color: var(--dark-text);
  margin-left: 10px;
}
.item-name {
  color: var(--dark-text);
  font-weight: bold;
}
/*inputs*/
.input-area {
  margin-left: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
.input {
  width: 95%;
  height: 44px;
  border-radius: 100px;
  border: 1.5px solid var(--text);
  background-color: var(--section);
}
.input-label {
  position: absolute;
  font-size: small;
  background-color: var(--section);
  top: -7px;
  left: 20px;
  padding-left: 4px;
  padding-right: 8px;
}
.input::placeholder {
  position: absolute;
  font-size: larger;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}
/*totals*/
.price-grid {
  margin-top: 200px;
  display: grid;
  grid-template-columns: 30% auto auto 30%;
  grid-template-areas: ". price-labels totals .";
}
.price-labels {
  grid-area: price-labels;
}
.price-label {
  margin-bottom: 16px;
}
.total {
  margin-bottom: 16px;
}
.price-label:last-child {
  font-weight: bold;
}
.total:last-child {
  font-weight: bold;
}
.totals {
  grid-area: totals;
  justify-self: end;
  text-align: end;
}
/*button*/
.button-area {
  display: flex;
  justify-content: center;
}
.button {
  width: 85%;
  height: 44px;
  border-radius: 100px;
  background-color: var(--button);
  border: none;
  font-size: 16px;
  color: var(--dark-text);
  margin-bottom: 24px;
  margin-top: 8px;
}
